@import "tailwindcss";

:root {
  font-family: 'Courier New', 'Consolas', monospace;
  line-height: 1.4;
  font-weight: 600;

  color-scheme: dark;
  color: #c8d0d8;
  background-color: #1a1c22;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
  overflow: hidden;
}
